  /*--------------------------------------------------------------
  ## Footer
  --------------------------------------------------------------*/
  .footer {
    margin-top: auto;
    padding: 20px 0;
    background-color: #f8f9fa;
    text-align: center;
    height: 60px;
    /* margin-top: -50px; */
  }
  
  .footer .copy {
    display: block;
    color: #000;
    font-size: 15px;
    font-weight: 300;
  }