.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchForm > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.searchForm > div > div + div {
    margin-left: 20px;
}

.datePicker {
    margin-top: 23px;
}

.submitButton {
    margin-top: 19px;
}

.searchResults {
    position: relative;
    flex: 1 0 auto;
}

.searchResults > div:first-child {
    max-width: 920px;
    margin: 30px auto 10px;
}

.suggestions {
    min-width: 256px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    margin-left: 0 !important;
    background-color: white;
}

.suggestions div[role="presentation"] {
    width: auto !important;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {

    .searchForm {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .searchForm > div {
        display: grid;
    }
    
    .searchForm > div > div + div {
        margin-left: 0px;
    }

    .searchResults > div:first-child {
        max-width: 920px;
        margin: 30px auto 10px;
    }
    
    .suggestions {
        min-width: 256px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        margin-left: 0 !important;
        background-color: white;
    }
    
    .suggestions div[role="presentation"] {
        width: auto !important;
    }

}
